[submodule "fmt"]
	path = include/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "include/yaml-parser"]
	path = include/yaml-parser
	url = git@github.com:abschill/yaml-cpp.git
[submodule "json-parser"]
	path = include/djson
	url = git@github.com:abschill/djson.git
[submodule "formatter"]
	path = include/fmt
	url = git@github.com:abschill/fmt.git
[submodule "ini-parser"]
	path = include/ini-parser
	url = git@github.com:abschill/simpleini.git
